<h1>Articles Index Page</h1>

<% if @articles != [] %>
  <% @articles.each do |article| %>
    <li>
      <strong> <%= article.title %> </strong>
      <p><%= article.description %></p>
    </li>
  <% end %>

<% else %>
  <p>(crickets)</p>
<% end %>
